{% extends templatename+"/template.html" %}

{% block content %}
{% if not user_info %}
<header class="page-header page-header-dark bg-img-cover overlay overlay-80"
    style='background-image: url("{{ config.settings.app_banner_img_1 }}")'>
    <div class="page-header-content py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <div data-aos="fade-up">
                        <h1 class="page-header-title">{{ config.settings.app_slogan }}</h1>
                        <p class="page-header-text">{{ config.settings.app_subslogan }} </p>
                    </div>
                    <button class="btn btn-marketing rounded-pill btn-primary" data-aos="fade-up" data-aos-delay="100">
                        Learn More
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
             fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
</header>
{% endif %}
{% if user_info %}

{% if "Customer" in user_info.groups|join(' ') %}        
<section class="bg-light py-5">
    <div class="container">
       <div class="card mb-4">
            <div class="card-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 p-5">
                        <h2>{{ config.settings.app_subslogan|safe }}</h2>
                        <p>Need Credit? We've got you covered!</p>
                        <a class="text-arrow-icon small" href="#">Learn more<i data-feather="arrow-right"></i></a>
                    </div>
                    <div class="col-lg-6 align-self-stretch bg-img-cover d-none d-lg-flex" style='background-image: url("{{ config.settings.app_banner_img_1 }}")'></div>
                </div>
            </div>
        </div>
        <hr class="mb-12" />
        <div class="card mb-12">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 order-md-1 mb-12">
                      <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill" id="cartcount"></span>
                      </h4>
                      <ul class="list-group mb-3" id="checkoutcart">
                      </ul>
                    </div>
                    <div class="col-md-12 order-md-1">
                      <h4 class="mb-3">Billing address</h4>
                      <form name="checkoutform" id="checkoutform" class="needs-validation" novalidate="" action="order_post" method="POST">
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="" value="{{ user['profile']['firstName'] }}"  required="">
                            <div class="invalid-feedback">
                              Valid first name is required.
                            </div>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="" value="{{ user['profile']['lastName'] }}" required="">
                            <div class="invalid-feedback">
                              Valid last name is required.
                            </div>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="email">Email <span class="text-muted">(Optional)</span></label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" value="{{ user['profile']['email'] }}">
                          <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="address">Address</label>
                          <input type="text" class="form-control" name="address" id="address" required="" value="{{ user['profile']['postalAddress'] }}">
                          <div class="invalid-feedback">
                            Please enter your shipping address.
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="city">City</label>
                          <input type="text" class="form-control" name="city" id="city" value="{{ user['profile']['city'] }}">
                        </div>

                        <div class="row">
                          <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" name="country"  id="country"  value="{{ user['profile']['countryCode'] }}">
                            <div class="invalid-feedback">
                              Please select a valid country.
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <input type="text" class="form-control" name="state" id="state" placeholder="" value="{{ user['profile']['state'] }}">
                            <div class="invalid-feedback">
                              Please provide a valid state.
                            </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" name="zip" id="zip" placeholder="" required="" value="{{ user['profile']['zipCode'] }}">
                            <div class="invalid-feedback">
                              Zip code required.
                            </div>
                          </div>
                        </div>
                        <hr class="mb-4">

                        <h4 class="mb-3">Payment</h4>

                        <div class="d-block my-3">
                          <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" value="creditcard">
                            <label class="custom-control-label" for="credit">Credit card</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input id="customcard" name="paymentMethod" type="radio" class="custom-control-input" value="{{ config.settings.app_name|safe }} card">
                            <label class="custom-control-label" for="customcard">{{ config.settings.app_name|safe }} card</label><br>
                          </div>
                           <button onclick="location.href='apply';" class='btn btn-primary' id="applycc" type='button'>Apply For a Card Today!</button>
                        </div>
                        <div class="row">
                          <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                              Name on card is required
                            </div>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                            <div class="invalid-feedback">
                              Credit card number is required
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 mb-3">
                            <label for="cc-expiration" id="cc-exptitle">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                            <div class="invalid-feedback">
                              Expiration date required
                            </div>
                          </div>
                          <div class="col-md-3 mb-3">
                            <label for="cc-expiration" id="cc-cvvtitle">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                            <div class="invalid-feedback">
                              Security code required
                            </div>
                          </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="button" onclick="checkout()">Finish Checkout</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endif %}
<section class="bg-white py-10">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="send"></i></div>
                <h2>The Most Reliable Dealership</h2>
                <p class="mb-0">We can boast the perfect reputation.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="calendar"></i></div>
                <h2>Fast and Reliable Service</h2>
                <p class="mb-0">We provide the most reliable sales and service for your car.</p>
            </div>
            <div class="col-lg-4">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i
                        data-feather="search"></i></div>
                <h2>Find your local dealship here</h2>
                <p class="mb-0">Convenient and fast search for the dealership near you.</p>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
             fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
</section>
<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center z-1">
            <div class="col-lg-8" data-aos="fade-up">
                <div class="card lift mb-n15">
                    <div class="card-body p-2">
                        <div class="video overlay bg-img-cover rounded"
                             style='background-image: "https://cdn-zartan.s3.us-east-2.amazonaws.com/static/img/travel-editor-favorite-products.jpg"'>
                            <div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe width="560" height="315" src="https://www.youtube.com/embed/L9ZYdShgtPE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-img-cover overlay overlay-80 py-10"
          style='background-image: url("https://cdn-zartan.s3.us-east-2.amazonaws.com/static/img/hotelroom.jpg")'>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="display-4 text-center py-10 my-10 text-white">We are here to serve. Our commitment is the best B2B selling experience.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10 text-center my-10 py-10">
                <h2>Ready to get Started?</h2>
                <p class="lead text-gray-500 mb-5">We'd love to hear from you. Our customer service representatives are here for you 24/7.</p>
                <a class="btn btn-primary btn-marketing rounded-pill" href="#">Contact us</a>
            </div>
        </div>
    </div>
</section>

<script>

var allProducts = [

    {title: "Model X", img: "https://tesla-cdn.thron.com/delivery/public/image/tesla/56cb8c41-e898-44ce-b6b7-fe9b9a05f529/bvlatuR/std/1200x628/MS-Social", price: "$104,990"}, 
    {title: "Truck", img: "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2022-tesla-cyber-truck-mmp-1-1579127142.jpg?crop=0.788xw:1.00xh;0.107xw,0&resize=640:*", price: "$39,990"}, 
    {title: "Pickup", img: "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tesla-pickup-rendering-copy-1559664544.jpg", price: "$75,990"}];
var products = [allProducts[Math.floor(Math.random()*allProducts.length)]];

sessionStorage.setItem('products', JSON.stringify(products));
var obj = JSON.parse(sessionStorage.products);

    $( document ).ready(function() {
      console.log("documentready()");
      cart();
      creditcard();
    });

    function creditcard()
    {
      console.log("creditcard()");
      creditcardinfo = window.sessionStorage["creditcard"];
      creditcard = JSON.parse(creditcardinfo);


      if (creditcard != "")
      {
        $("#cc-name").val(creditcard.name);
        $("#cc-number").val(creditcard.cardnumber);
        $("#cc-expiration").hide();
        $("#cc-cvv").hide();
        $("#applycc").hide();
        $("#cc-exptitle").hide();
        $("#cc-cvvtitle").hide();
        $("#customcard").prop('checked',true);
      }
    }

    function addorder(id, name, price) {
        this.ordernumber = Math.floor(Math.random() * 10000);;
        this.products = getsessioncart();
        var arrayList = getsessioncart();
        total = "";
        for(let i = 0; i < arrayList.length; i++){
           total = Number(item.price) + Number(total);
        }
        this.total = total.toFixed(2);
        this.payment = $("#paymentMethod:checked").val();
    }

    function checkout()
    {
      console.log("checkout()");
      order = [];
      order = new addorder();
      neworder = JSON.stringify(order);
      window.sessionStorage["order"] = neworder;

      //location.href="/ecommerce/order?message=Order Complete"
      document.getElementById("checkoutform").submit();

      window.sessionStorage.removeItem("products");
    }

    function cart()
    {
        htmlresponse = "";
        $("#checkoutcart").html("");

        var arrayList = getsessioncart();
        var total = 0;
        for(let i = 0; i < arrayList.length; i++){
           item = arrayList[i];
           htmlresponse = htmlresponse + "<li class='list-group-item d-flex justify-content-between lh-condensed'><div><h6 class='my-0'>"+item.title+"</h6></div><span class='text-muted'>" + item.price + "</span><img src="+ item.img + " width=500></li>";
           total = item.price;
        }
        htmlresponse = htmlresponse + "<li class='list-group-item d-flex justify-content-between'><span>Total (USD)</span><strong>" + total +"</strong></li>";

        $("#checkoutcart").html(htmlresponse);
        $("#cartcount").text(arrayList.length);

    }





    function getsessioncart()
    {
        var arrayList = [];
        try
        {
            currentproduct = window.sessionStorage["products"];
            if (typeof currentproduct == 'undefined')
            {
            }
            else
            {
                arrayList = JSON.parse(currentproduct);
            }
        }
        catch (exception)
        {

        }
        return arrayList;
    }
</script>
{% endblock %}

{% block footer %}
{% endblock %}