<!DOCTYPE html>
<html lang="en">
    {% include '//components/template-header-meta.html' %}
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% if user_info is none or user_info is not defined %}
                        {% set navitems ="navitems.html" %}
                    {% else %}
                        {% if user_info and user_info.groups %}
                            {% if "Customer" in user_info.groups|join(' ') %}                        
                                {% set navitems ="navitems.html" %}
                            {% elif "_ADMIN" in user_info.groups|join(' ') %}
                                {% set navitems ="navitems-admin.html" %}
                            {% else %}
                                {% set navitems ="navitems-sales.html" %}
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% with mynavitems = navitems %}
                        {% include '//components/template-navigation.html' %}
                    {% endwith %}
                    {% block header %}{% endblock %}
                    {% block content %}{% endblock %}
                </main>
            </div>
            <div id="layoutDefault_footer">
                {% block footer %}{% endblock %}
            </div>
            {% include '//components/template-footer.html' %}
        </div>
        {% include '//components/template-footer-scripts.html' %}
    </body>
</html>
